* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
}

header {
    background: linear-gradient(to right, #4e342e, #795548);
    color: white;
    padding-bottom: 60px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.hero {
    text-align: center;
    margin-top: 80px;
}

.hero h1 {
    font-size: 36px;
}

.hero p {
    margin: 15px 0;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #ffca28;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: #ffb300;
}

section {
    padding: 60px 20px;
    text-align: center;
}

.book-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.book-card {
    background: #f4f4f4;
    padding: 20px;
    width: 250px;
    border-radius: 8px;
}

.book-card span {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #4e342e;
}

footer {
    background: #4e342e;
    color: white;
    text-align: center;
    padding: 15px;
}

/* Responsive */
@media(max-width: 768px) {
    nav {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .hero h1 {
        font-size: 26px;
    }
}